/* .box{
    height: 100px;
    width: 100px;
    border-color: black;
    border: solid;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
}

.content{
    color: white;
    background-color: black;
    width: 250px;
    text-align: center;
    height: 25px;
    
}

.newClass{
    background-color: green;

} */

#mode {
    width: 100px;
    height: 30px;
    vertical-align: center;
    background-color: grey;
    color: white;
    border: solid black bold;
}

.dark{
    background-color: black;
    color: white;
   
}

.light{
    background-color: white;
    color: black;
    
}